<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FilePrintServiceSetup" Language="1033" Version="1.0.0.0" Manufacturer="CoMrEd" UpgradeCode="03e8fb77-d9bb-47ae-ae7d-65ecfb5d1335">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
		<Feature Id="ProductFeature" Title="WndServiceSetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
 
    <CustomAction Id="RunBat" Directory="PRINTSERVERFOLDER"
    ExeCommand='"[PRINTSERVERFOLDER]install-service.bat"'
    Execute='deferred' Impersonate='no' Return='ignore'/>

    <InstallExecuteSequence>
      <Custom Action="RunBat" Before="InstallFinalize">
        NOT (REMOVE~="ALL")
      </Custom>
    </InstallExecuteSequence>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CoMrEd">
          <Directory Id="PRINTSERVERFOLDER" Name="PrintService" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>



	<Fragment>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentGroupRef Id="DllsComponent"/>
      <ComponentGroupRef Id="printExeComponents"/>
      <ComponentGroupRef Id="InstallationsBatchs"/>
    </Feature>


    <ComponentGroup Id="InstallationsBatchs" Directory="PRINTSERVERFOLDER"
                 Source="C:\WorkSpace\PrintFileToPrinterSLN">
      <Component Id="install_service.bat">
        <File Name="install-service.bat" />
      </Component>
      <Component Id="uninstall_service.bat">
        <File Name="uninstall-service.bat" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DllsComponent" Directory="PRINTSERVERFOLDER"
                 Source="C:\WorkSpace\PrintFileToPrinterSLN\FilePrintService\bin\Debug">
      <Component Id="FilePrintService.exe">
        <File Name="FilePrintService.exe" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Id="SuperSocket.Common.dll">
        <File Name="SuperSocket.Common.dll" />
      </Component>
      <Component Id="SuperSocket.SocketBase.dll">
        <File Name="SuperSocket.SocketBase.dll" />
      </Component>
      <Component Id="SuperSocket.SocketEngine.dll">
        <File Name="SuperSocket.SocketEngine.dll" />
      </Component>
      <Component Id="SuperWebSocket.dll">
        <File Name="SuperWebSocket.dll" />
      </Component>
      <Component Id="FilePrintService.exe.config">
        <File Name="FilePrintService.exe.config" />
      </Component>
      <Component Id="fileprint.api.min.js">
        <File Name="fileprint.api.min.js" />
      </Component>
      <Component Id="test_print.php">
        <File Name="test-print.php" />
      </Component>
      <Component Id="SuperSocket.Common.xml">
        <File Name="SuperSocket.Common.xml" />
      </Component>
      <Component Id="SuperSocket.SocketBase.xml">
        <File Name="SuperSocket.SocketBase.xml" />
      </Component>
      <Component Id="SuperWebSocket.xml">
        <File Name="SuperWebSocket.xml" />
      </Component>
    </ComponentGroup>


    <ComponentGroup Id="printExeComponents" Directory="PRINTSERVERFOLDER"
                    Source="C:\WorkSpace\PrintFileToPrinterSLN\packages\PrintHtml-window-x86">
      <Component Id="cabundle.crt">
        <File Name="ca-bundle.crt" />
      </Component>
      <Component Id="libeay32.dll">
        <File Name="libeay32.dll" />
      </Component>
      <Component Id="libgcc_s_dw2_1.dll">
        <File Name="libgcc_s_dw2-1.dll" />
      </Component>
      <Component Id="libstdc_6.dll">
        <File Name="libstdc++-6.dll" />
      </Component>
      <Component Id="libwinpthread_1.dll">
        <File Name="libwinpthread-1.dll" />
      </Component>
      <Component Id="PrintHtml.exe">
        <File Name="PrintHtml.exe" />
      </Component>
      <Component Id="QtCore4.dll">
        <File Name="QtCore4.dll" />
      </Component>
      <Component Id="QtGui4.dll">
        <File Name="QtGui4.dll" />
      </Component>
      <Component Id="QtNetwork4.dll">
        <File Name="QtNetwork4.dll" />
      </Component>
      <Component Id="QtWebKit4.dll">
        <File Name="QtWebKit4.dll" />
      </Component>
      <Component Id="ssleay32.dll">
        <File Name="ssleay32.dll" />
      </Component>
    </ComponentGroup>
    
		<ComponentGroup Id="ProductComponents" Directory="PRINTSERVERFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
