<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="UniversalFileToPrinterSetup" Language="1033" Version="1.0.0.0" Manufacturer="CoMrEd" 
           UpgradeCode="ba497b67-6664-403c-8075-006ca756d367">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [UniversalFileToPrinter] is already installed." />
      
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="FilePrintSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="UniversalFileToPrinter" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="CMP_UniversalFileToPrinterApplicationSetup" />
      <ComponentGroupRef Id="DllsComponent"/>
      <ComponentGroupRef Id="printExeComponents"/>
    </Feature>

    <ComponentGroup Id="DllsComponent" Directory="INSTALLFOLDER" 
                    Source="$(var.UniversalFileToPrinter.TargetDir)">
      <Component Id="RawPrint.dll">
        <File Name="RawPrint.dll" />
      </Component>
      <Component Id="BrowserPrint.exe">
        <File Name="BrowserPrint.exe" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Id="SuperSocket.Common.dll">
        <File Name="SuperSocket.Common.dll" />
      </Component>
      <Component Id="SuperSocket.SocketBase.dll">
        <File Name="SuperSocket.SocketBase.dll" />
      </Component>
      <Component Id="SuperSocket.SocketEngine.dll">
        <File Name="SuperSocket.SocketEngine.dll" />
      </Component>
      <Component Id="SuperWebSocket.dll">
        <File Name="SuperWebSocket.dll" />
      </Component>
      <Component Id="fileprint.api.js">
        <File Name="fileprint.api.js" />
      </Component>
      <Component Id="test_print.html">
        <File Name="test-print.html" />
      </Component>
      <Component Id="SuperSocket.Common.xml">
        <File Name="SuperSocket.Common.xml" />
      </Component>
      <Component Id="SuperSocket.SocketBase.xml">
        <File Name="SuperSocket.SocketBase.xml" />
      </Component>
      <Component Id="SuperWebSocket.xml">
        <File Name="SuperWebSocket.xml" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="printExeComponents" Directory="INSTALLFOLDER"
                    Source="$(var.SolutionDir)\References\PrintHtml-window-x86">
      <Component Id="cabundle.crt">
        <File Name="ca-bundle.crt" />
      </Component>
      <Component Id="libeay32.dll">
        <File Name="libeay32.dll" />
      </Component>
      <Component Id="libgcc_s_dw2_1.dll">
        <File Name="libgcc_s_dw2-1.dll" />
      </Component>
      <Component Id="libstdc_6.dll">
        <File Name="libstdc++-6.dll" />
      </Component>
      <Component Id="libwinpthread_1.dll">
        <File Name="libwinpthread-1.dll" />
      </Component>
      <Component Id="PrintHtml.exe">
        <File Name="PrintHtml.exe" />
      </Component>
      <Component Id="QtCore4.dll">
        <File Name="QtCore4.dll" />
      </Component>
      <Component Id="QtGui4.dll">
        <File Name="QtGui4.dll" />
      </Component>
      <Component Id="QtNetwork4.dll">
        <File Name="QtNetwork4.dll" />
      </Component>
      <Component Id="QtWebKit4.dll">
        <File Name="QtWebKit4.dll" />
      </Component>
      <Component Id="ssleay32.dll">
        <File Name="ssleay32.dll" />
      </Component>
    </ComponentGroup>
    

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="CMP_UniversalFileToPrinterApplicationSetup">
          <File Id="FILE_UniversalFileToPrinterApplication.exe" Source="$(var.UniversalFileToPrinter.TargetPath)" KeyPath="yes" />
        </Component>

        <Component Id="ProductComponent" Guid="{206C911C-56EF-44B8-9257-5FD214427965}">
          <RegistryKey Root="HKCR"
                Key="ufileprintmagnet"
                Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="URL Protocol" Value=""/>
            <RegistryValue Type="string" Value="URL:file print from browser"/>
            <RegistryKey Key="DefaultIcon">
              <RegistryValue Type="string" Value="UniversalFileToPrinter.exe" />
            </RegistryKey>
            <RegistryKey Key="shell\open\command">
              <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]UniversalFileToPrinter.exe&quot; &quot;%1&quot;" />
            </RegistryKey>
          </RegistryKey>
        </Component>
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
